
<div id="main">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<div class="txtmsg">
    #Welcome
</div>
</div>
<div>
    <%= render 'leftpanel/leftpanel' %>
</div>