<% provide(:title, "Welcome") %>	 
<div class="container para">
	<div class="text-center header">
		<h2><i>Slack Appからようこそ</i></h2>
	</div>

	<p >
		Slack（スラック）は、スチュワート・バターフィールド（英語版）によって開発されたチームコミュニケーションツール。 
		Slackという名称は"Searchable Log of All Conversation and Knowledge"のアクロニムである。
	</p>
	<p>
		Slackは基本的にIRCに似た機能を多く備えている。ユーザはまず「ワークスペース」に属し、
		ワークスペース内に存在する話題別のチャットルーム（チャンネル）に参加したり、
		同じワークスペースに属する他のユーザへダイレクトメッセージを送ったりしてコミュニケーションを行う。
		それぞれのチャンネルやダイレクトメッセージにはファイルの添付が可能であり、
		ワークスペース内のメッセージやファイルはすべて検索できる。 
		さらに、APIが公開されているため、Google ドライブやTrelloといったWebサービスと連携することが可能なほか、
		自作のアプリケーションとの連携も可能である。
	</p>
</div>