<% provide(:title, "Welcome") %>	 
	 <div class="container para">
		 <div class="text-center header">
			<h2><i>Slack Appからようこそ</i></h2>
		  </div>
		  
		<p >Slack（スラック）は、スチュワート・バターフィールド（英語版）によって開発されたチームコミュニケーションツール。 Slackという名称は"Searchable Log of All Conversation and Knowledge"のアクロニムである。</p>
	 	<p>Slackはグループチャット、1対1のメッセージング（Direct Message）、音声通話をWebサービスとして提供している。また同様の機能をデスクトップアプリ（Windows、macOS）およびスマートフォンアプリ（iOS, Android）でも提供している[8]。 Googleドキュメント、Dropbox、Heroku、Crashlytics、GitHub、Zendeskなどを含む、各種サードパーティーのサービスと連携することが出来るようになっており、Slack内部のすべてのコンテンツは、一つの検索ボックスから検索できるようになっている。[9][10]
			もともとはTiny Speck（英語版）社（現Slack Technologies Inc.）においてオンラインゲーム「Glitch（英語版）」の開発に使用された社内ツールが原型となっている</p>
		<p>Slackは基本的にIRCに似た機能を多く備えている。ユーザはまず「ワークスペース」に属し、ワークスペース内に存在する話題別のチャットルーム（チャンネル）に参加したり、同じワークスペースに属する他のユーザへダイレクトメッセージを送ったりしてコミュニケーションを行う。それぞれのチャンネルやダイレクトメッセージにはファイルの添付が可能であり、ワークスペース内のメッセージやファイルはすべて検索できる。 さらに、APIが公開されているため、Google ドライブやTrelloといったWebサービスと連携することが可能なほか、自作のアプリケーションとの連携も可能である。
		</p>
		</div>