<% provide(:title, "User Manage") %>
                <div class="col-sm-9">
                        <form class="in">
                                <input class="txt1" type="text" name="name">
                                <input class="txt2" type="submit" value="検索">
                        </form>
                        
                        <table class="tab">
                            <tr>
                                <th>番号</th>
                                <th>ユーザ名</th>
                                <th>メールアドレス</th>
                                <th>セットアップ</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Zaw Zaw</td>
                                <td>kyawsanwin@mm.cybermissions.co.jp</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                    <td>2</td>
                                    <td>Nyi Nyi Min Thant</td>
                                    <td>nyinyiminthant@mm.cybermissions.co.jp</td>
                                    <td><a href="">アカウントを解除する</a></td>
							</tr>
						</table>
</div>
    <%= render 'leftpanel/leftpanel' %>
</div>
