// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* forms */
.txtmsg{
  width: 85%;
  margin-left: 14%;
  margin-bottom: 20px;
  float: right;
  left: 30%;
}

